@import "mixins";
@import "partials";

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #f4f4f2;
  font-family: Dosis, Arial, Helvetica, sans-serif;
  padding-bottom: 20px;

  &.contextual-links-region {
    position: static;
  }
}

a {
  color: #679190;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style-type: none;
}

.item-list ul li {
  margin: 0;
}

table {

  tbody {

    td {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.content {

  .panel-col-first {
    float: left; //LTR
    width: 49.5%;
  }

  .panel-col-last {
    float: left; //LTR
    width: 49.5%;
    margin-left: 1%; //LTR

    .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal {
      width: 414px;

      ul li {
        height: 213px;
      }
    }
  }
}

html.js .page-season {

  fieldset.collapsible {
    border: none;
    padding: 0;
    margin-bottom: 45px;

    &.collapsed {

      .fieldset-legend {
        background: url("../images/arrow-white-down-status.png") 7px 10px no-repeat #4f4f4f;
      }
    }

    a {
      font-size: 15px;

      &.fieldset-title {
        color: white;
      }
    }

    .fieldset-hr {
      border: 0;
      border-bottom: solid #4f4f4f 1px;
      height: 0px;
      margin: 0;
      padding-top: 25px;
      background: url("../images/top-shaddow-collapsible.jpg") repeat-x bottom;
    }

    legend {
      padding: 0;

      .fieldset-legend {
        font-weight: bold;
        background: url("../images/arrow-white-up-status.png") 7px 10px no-repeat #4f4f4f;
        padding-top: 3px;
        padding-bottom: 3px;
        margin: 0;
        position: absolute;
      }
    }

    .views-table caption {
      display: none;
    }

    .fieldset-wrapper {

      tr, td {
        padding: 0;
      }

      thead th {
        font-family: Dosis, Arial, Helvetica, sans-serif;

        .active img {
          margin-left: 5px; //LTR
        }
      }

      .display-cell {

        .display-cell-image {
          padding: 1px;
          float: left; //LTR

          a {
            display: block;
            height: 75px;
          }
        }

        .display-cell-title {
          float: left; //LTR
          margin-top: 28px;
        }
      }

      .views-field-field-bom-info {

        a {
          display: block;
          height: 75px;
        }

        img {
          border-right: 1px solid #B7B7B7; //LTR
          padding: 5px;
        }
      }

      td {

        &.views-field-field-item-status, &.views-field-field-retail-price, &.views-field-field-wholesale-price {
          font-weight: bold;
          font-size: 15px;
          color: #010101;
          padding-left: 10px; //LTR
        }

        &.views-field-field-item-status {
          font-weight: normal;
        }
      }
    }
  }
}
