closet/*
DC/*
DC/versions/*
_.git
sites/default/files
sites/default/tmp
sites/default/settings.php
sites/default/.htaccess
.project
.svn
*.sln
*.puo
*.phpproj
*.cache
.httpd.conf
php.ini
.settings
.buildpath
*.sql*
backup/*
.tmp_*
*.tar.gz
mob/dbcon.php
