<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="brand" ui-sref="dashboard">GarmentBox</a>
      <ul class="nav">
        <li ng-class="{active: $state.includes('contacts')}"><a ui-sref="contacts.list" href="#/contacts">Contacts</a></li>
        <li ui-sref-active="active" class=""><a ui-sref="about" href="#/about">About</a></li>
        <li><a href ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div ui-view></div>
</div>
