body.page-production-order-delivery {

  #delivery-details {

    tr.missing .form-type-checkbox {
      float: right; //LTR

      input {
        margin-right: 0; //LTR
      }
    }

    tr.subrow a.expander {
      float: right; //LTR
      margin-right: 0; //LTR
    }
  }
}
