@import "mixins";
@import "partials";

$width: 1200px;

.container {
  width: $width;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #f4f4f2;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #679190;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
