/* line 1, ../sass/partials/widget/_table.scss */
table {
  width: 100%;
}
/* line 4, ../sass/partials/widget/_table.scss */
table tr {
  height: 20px;
}
/* line 8, ../sass/partials/widget/_table.scss */
table tbody > tr {
  background-color: #fcfcfc;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#f0f0f0);
  background-image: -moz-linear-gradient(center top, #fcfcfc, #f0f0f0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#f0f0f0));
}
/* line 11, ../sass/partials/widget/_table.scss */
table tbody > tr.even {
  background-color: #fbfffe;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fbfffe, endColorstr=#f1f5f4);
  background-image: -moz-linear-gradient(center top, #fbfffe, #f1f5f4);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfffe), to(#f1f5f4));
}
/* line 15, ../sass/partials/widget/_table.scss */
table tbody > tr:hover {
  background-color: #f2fbff;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2fbff, endColorstr=#e1ebf4);
  background-image: -moz-linear-gradient(center top, #f2fbff, #e1ebf4);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2fbff), to(#e1ebf4));
}
/* line 19, ../sass/partials/widget/_table.scss */
table tbody > tr.hidden {
  display: none;
}
/* line 23, ../sass/partials/widget/_table.scss */
table tbody > tr.type td:first-child {
  padding-left: 50px;
}
/* line 27, ../sass/partials/widget/_table.scss */
table tbody > tr.emphasized {
  background-color: #f4f5dc;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f5dc, endColorstr=#f1f5a6);
  background-image: -moz-linear-gradient(center top, #f4f5dc, #f1f5a6);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f5dc), to(#f1f5a6));
}
/* line 31, ../sass/partials/widget/_table.scss */
table tbody > tr.expandable {
  cursor: pointer;
}
/* line 36, ../sass/partials/widget/_table.scss */
table thead tr {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #e3e3e3 3%, #dedede 5%, #d4d4d4 78%, lightgrey 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(3%, #e3e3e3), color-stop(5%, #dedede), color-stop(78%, #d4d4d4), color-stop(100%, lightgrey));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #e3e3e3 3%, #dedede 5%, #d4d4d4 78%, lightgrey 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #e3e3e3 3%, #dedede 5%, #d4d4d4 78%, lightgrey 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #e3e3e3 3%, #dedede 5%, #d4d4d4 78%, lightgrey 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%, #e3e3e3 3%, #dedede 5%, #d4d4d4 78%, #d3d3d3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#d3d3d3',GradientType=0 );
  /* IE6-9 */
}
/* line 47, ../sass/partials/widget/_table.scss */
table th, table td {
  border: 1px solid #b7b7b7;
  padding: 9px;
}
/* line 51, ../sass/partials/widget/_table.scss */
table th .minor, table td .minor {
  font-size: 11px;
  color: #666;
  display: block;
}
/* line 57, ../sass/partials/widget/_table.scss */
table th.hidden-label label, table td.hidden-label label {
  display: none;
}
/* line 62, ../sass/partials/widget/_table.scss */
table th {
  color: #5e5e5e;
  font-weight: normal;
  font-family: Dosis, Arial, Helvetica, sans-serif;
}
/* line 70, ../sass/partials/widget/_table.scss */
table td.active {
  background-color: rgba(50, 50, 50, 0.05);
}
/* line 74, ../sass/partials/widget/_table.scss */
table td.emphasized {
  font-weight: bold;
}
/* line 78, ../sass/partials/widget/_table.scss */
table td.hidden-label label {
  display: none;
}
/* line 82, ../sass/partials/widget/_table.scss */
table td.variant-status-title {
  font-size: 15px;
  color: #010101;
}
/* line 88, ../sass/partials/widget/_table.scss */
table .views-field-edit-node a, table li.edit a {
  width: 28px;
  height: 27px;
  display: block;
  color: transparent;
  overflow: hidden;
  background: url("../images/edit.png") no-repeat;
}
/* line 82, ../sass/_mixins.scss */
table .views-field-edit-node a:hover, table li.edit a:hover {
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 91, ../sass/_mixins.scss */
table .views-field-edit-node a:hover, table li.edit a:hover {
  background-image: url("../images/edit-active.png");
}
/* line 92, ../sass/partials/widget/_table.scss */
table .field-collection-view-links {
  margin: 0;
  padding: 0;
}
/* line 96, ../sass/partials/widget/_table.scss */
table .field-collection-view-links li {
  margin: 0 0 0 5px;
  float: left;
}
/* line 100, ../sass/partials/widget/_table.scss */
table .field-collection-view-links li.first {
  margin-left: 0;
}
/* line 104, ../sass/partials/widget/_table.scss */
table .field-collection-view-links li.delete a {
  width: 28px;
  height: 27px;
  display: block;
  color: transparent;
  overflow: hidden;
  background: url("../images/delete.png") no-repeat;
}
/* line 82, ../sass/_mixins.scss */
table .field-collection-view-links li.delete a:hover {
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 100, ../sass/_mixins.scss */
table .field-collection-view-links li.delete a:hover {
  background-image: url("../images/delete-active.png");
}
/* line 110, ../sass/partials/widget/_table.scss */
table .quantity {
  float: left;
  margin-right: 5px;
}
/* line 115, ../sass/partials/widget/_table.scss */
table#inventory-summary {
  border: 1px solid #dbdbdb;
}
/* line 118, ../sass/partials/widget/_table.scss */
table#inventory-summary .variant-type-name {
  font-size: 14px;
}
/* line 122, ../sass/partials/widget/_table.scss */
table#inventory-summary .expander {
  background-image: url("../images/collapse-.gif");
  width: 14px;
  height: 14px;
}
/* line 127, ../sass/partials/widget/_table.scss */
table#inventory-summary .expander.collapsed {
  background-image: url("../images/collapse+.gif");
}
/* line 134, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-1 .inventory-cell .sub-figures .sub-figure-placeholder {
  width: 64px;
}
/* line 138, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-1 .inventory-cell .sub-figures .amount {
  width: 18px;
}
/* line 145, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-2 .inventory-cell .sub-figures .sub-figure-placeholder {
  width: 66px;
}
/* line 149, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-2 .inventory-cell .sub-figures .amount {
  width: 21px;
}
/* line 156, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-3 .inventory-cell .sub-figures .sub-figure-placeholder {
  width: 67px;
}
/* line 160, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-3 .inventory-cell .sub-figures .amount {
  width: 23px;
}
/* line 169, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-4 .inventory-cell .sub-figures .sub-figure-placeholder, table#inventory-summary.main-box-width-5 .inventory-cell .sub-figures .sub-figure-placeholder {
  width: 71px;
}
/* line 173, ../sass/partials/widget/_table.scss */
table#inventory-summary.main-box-width-4 .inventory-cell .sub-figures .amount, table#inventory-summary.main-box-width-5 .inventory-cell .sub-figures .amount {
  width: 28px;
  padding-right: 1px;
}
/* line 180, ../sass/partials/widget/_table.scss */
table#inventory-summary.size-amount-width-1 .inventory-sub-cell .main-figure .amount {
  width: 30px;
}
/* line 184, ../sass/partials/widget/_table.scss */
table#inventory-summary.size-amount-width-2 .inventory-sub-cell .main-figure .amount {
  width: 40px;
}
/* line 188, ../sass/partials/widget/_table.scss */
table#inventory-summary.size-amount-width-3 .inventory-sub-cell .main-figure .amount {
  width: 50px;
}
/* line 192, ../sass/partials/widget/_table.scss */
table#inventory-summary.size-amount-width-4 .inventory-sub-cell .main-figure .amount {
  width: 55px;
}
/* line 196, ../sass/partials/widget/_table.scss */
table#inventory-summary.size-amount-width-5 .inventory-sub-cell .main-figure .amount {
  width: 60px;
}
/* line 200, ../sass/partials/widget/_table.scss */
table#inventory-summary .sub-figure-placeholder {
  display: block;
}
/* line 208, ../sass/partials/widget/_table.scss */
table tr.variant-status-type td {
  padding: 0px 0px 0px 5px;
}
/* line 212, ../sass/partials/widget/_table.scss */
table tr.variant-status-type .inventory-sub-cell {
  margin-left: -5px;
}
/* line 215, ../sass/partials/widget/_table.scss */
table tr.variant-status-type .inventory-sub-cell .main-figure {
  padding: 9px 0px;
  color: white;
  float: left;
  text-align: center;
}
/* line 221, ../sass/partials/widget/_table.scss */
table tr.variant-status-type .inventory-sub-cell .main-figure .amount {
  font-size: 20px;
  display: block;
}
/* line 227, ../sass/partials/widget/_table.scss */
table tr.variant-status-type .inventory-sub-cell .sub-figure {
  color: #6b6b6b;
  max-width: 160px;
  text-align: center;
  padding-top: 10px;
}
/* line 233, ../sass/partials/widget/_table.scss */
table tr.variant-status-type .inventory-sub-cell .sub-figure .ordered {
  font-size: 14px;
}
/* line 240, ../sass/partials/widget/_table.scss */
table tr.variant-status-type.current .main-figure {
  background: #70b55c;
}
/* line 247, ../sass/partials/widget/_table.scss */
table tr.variant-status-type.future .main-figure {
  background: #d16500;
}
/* line 254, ../sass/partials/widget/_table.scss */
table tr.variant-status-type.irrelevant .main-figure {
  background: #737373;
}
/* line 260, ../sass/partials/widget/_table.scss */
table .inventory-cell {
  position: relative;
}
/* line 263, ../sass/partials/widget/_table.scss */
table .inventory-cell .main-figure {
  float: left;
  color: #474747;
  text-align: center;
  margin-top: 10px;
}
/* line 269, ../sass/partials/widget/_table.scss */
table .inventory-cell .main-figure span.amount {
  font-weight: bold;
  font-size: 28px;
}
/* line 274, ../sass/partials/widget/_table.scss */
table .inventory-cell .main-figure .label {
  color: #848484;
  font-size: 10px;
}
/* line 280, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures {
  float: left;
  margin-left: 10px;
  text-align: center;
}
/* line 285, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure {
  margin-right: 5px;
  margin-top: 2px;
  font-size: 10px;
  float: left;
  clear: left;
  border-radius: 4px;
  padding: 1px 0;
  width: 100%;
  height: 14px;
  border: 1px solid #DCDCDC;
  background: whitesmoke;
  /* Old browsers */
  background: -moz-linear-gradient(top, whitesmoke 0%, #f2f2f2 60%, #ececec 73%, #e9e9e9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(60%, #f2f2f2), color-stop(73%, #ececec), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, whitesmoke 0%, #f2f2f2 60%, #ececec 73%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, whitesmoke 0%, #f2f2f2 60%, #ececec 73%, #e9e9e9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, whitesmoke 0%, #f2f2f2 60%, #ececec 73%, #e9e9e9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f5f5f5 0%, #f2f2f2 60%, #ececec 73%, #e9e9e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e9e9e9',GradientType=1 );
  /* IE6-9 */
}
/* line 298, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure:first-child {
  margin-top: 0;
}
/* line 302, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure span {
  padding: 0px 0px 1px 3px;
  min-width: 20px;
}
/* line 306, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure span.amount {
  color: white;
  height: 14px;
  margin-top: -1px;
  display: block;
  float: left;
  padding-top: 1px;
  font-size: 12px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 317, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure span.label {
  color: #565656;
  float: left;
  font-size: 11px;
}
/* line 324, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure.future_stock span.amount {
  background: #de832e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlODMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iI2RkN2YyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2Q3NjkwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2QxNjUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjY0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #de832e 0%, #dd7f26 13%, #d76902 53%, #d16500 73%, #cf6400 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de832e), color-stop(13%, #dd7f26), color-stop(53%, #d76902), color-stop(73%, #d16500), color-stop(100%, #cf6400));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #de832e 0%, #dd7f26 13%, #d76902 53%, #d16500 73%, #cf6400 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #de832e 0%, #dd7f26 13%, #d76902 53%, #d16500 73%, #cf6400 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #de832e 0%, #dd7f26 13%, #d76902 53%, #d16500 73%, #cf6400 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #de832e 0%, #dd7f26 13%, #d76902 53%, #d16500 73%, #cf6400 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de832e', endColorstr='#cf6400',GradientType=0 );
  /* IE6-8 */
}
/* line 328, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure.ordered span.amount {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5YzhlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjN2RjNmYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjNjZiY2VlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjNjFiNGU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjNjFiNGU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZjYjhlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #89c8ef 0%, #7dc6f1 7%, #66bcee 53%, #61b4e6 80%, #61b4e5 93%, #6cb8e4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89c8ef), color-stop(7%, #7dc6f1), color-stop(53%, #66bcee), color-stop(80%, #61b4e6), color-stop(93%, #61b4e5), color-stop(100%, #6cb8e4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #89c8ef 0%, #7dc6f1 7%, #66bcee 53%, #61b4e6 80%, #61b4e5 93%, #6cb8e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #89c8ef 0%, #7dc6f1 7%, #66bcee 53%, #61b4e6 80%, #61b4e5 93%, #6cb8e4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #89c8ef 0%, #7dc6f1 7%, #66bcee 53%, #61b4e6 80%, #61b4e5 93%, #6cb8e4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #89c8ef 0%, #7dc6f1 7%, #66bcee 53%, #61b4e6 80%, #61b4e5 93%, #6cb8e4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c8ef', endColorstr='#6cb8e4',GradientType=0 );
  /* IE6-8 */
}
/* line 332, ../sass/partials/widget/_table.scss */
table .inventory-cell .sub-figures .sub-figure.quantity span.amount {
  background: #8fc37f;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzM3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjODRiZjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjNmViNDU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjclIiBzdG9wLWNvbG9yPSIjNmJhZjU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjNjlhYzU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc0YjA2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #8fc37f 0%, #84bf72 7%, #6eb459 53%, #6baf56 67%, #69ac55 93%, #74b062 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fc37f), color-stop(7%, #84bf72), color-stop(53%, #6eb459), color-stop(67%, #6baf56), color-stop(93%, #69ac55), color-stop(100%, #74b062));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8fc37f 0%, #84bf72 7%, #6eb459 53%, #6baf56 67%, #69ac55 93%, #74b062 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8fc37f 0%, #84bf72 7%, #6eb459 53%, #6baf56 67%, #69ac55 93%, #74b062 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8fc37f 0%, #84bf72 7%, #6eb459 53%, #6baf56 67%, #69ac55 93%, #74b062 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8fc37f 0%, #84bf72 7%, #6eb459 53%, #6baf56 67%, #69ac55 93%, #74b062 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fc37f', endColorstr='#74b062',GradientType=0 );
  /* IE6-8 */
}
/* line 339, ../sass/partials/widget/_table.scss */
table .expander {
  display: block;
  width: 11px;
  height: 11px;
  float: left;
  margin-right: 10px;
  background: url("../images/contract.gif") no-repeat;
}
/* line 347, ../sass/partials/widget/_table.scss */
table .expander.collapsed {
  background-image: url("../images/expand.gif");
}
/* line 352, ../sass/partials/widget/_table.scss */
table ul.size-info {
  margin: 0;
}
/* line 355, ../sass/partials/widget/_table.scss */
table ul.size-info li {
  float: left;
  margin-left: 20px;
}
/* line 359, ../sass/partials/widget/_table.scss */
table ul.size-info li:first-child {
  margin-left: 0;
}
/* line 364, ../sass/partials/widget/_table.scss */
table ul.size-info label, table ul.size-info span {
  float: left;
}
/* line 368, ../sass/partials/widget/_table.scss */
table ul.size-info span {
  margin-left: 5px;
}

/* line 376, ../sass/partials/widget/_table.scss */
html.js fieldset.collapsible .fieldset-legend {
  background: url("../images/contract.gif") no-repeat;
  padding-left: 20px;
  margin-left: 10px;
}
/* line 382, ../sass/partials/widget/_table.scss */
html.js fieldset.collapsible.collapsed .fieldset-legend {
  background-image: url("../images/expand.gif");
}

/* line 1, ../sass/partials/widget/_tabs.scss */
#tabs ul {
  margin: 20px 0 0;
  max-width: 990px;
}
/* line 5, ../sass/partials/widget/_tabs.scss */
#tabs ul li {
  margin: 0;
  height: 36px;
  float: left;
  margin-right: 6px;
  margin-top: 6px;
}
/* line 12, ../sass/partials/widget/_tabs.scss */
#tabs ul li a {
  background-color: white;
  text-align: center;
  min-width: 114px;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  display: block;
  color: #a7bbba;
  -moz-box-shadow: 1px 1px 2px 0 #cacaca;
  -webkit-box-shadow: 1px 1px 2px 0 #cacaca;
  box-shadow: 1px 1px 2px 0 #cacaca;
}
/* line 24, ../sass/partials/widget/_tabs.scss */
#tabs ul li a:hover {
  text-decoration: none;
  background-color: #fafafa;
  -moz-box-shadow: 0 0 3px 0 #cacaca;
  -webkit-box-shadow: 0 0 3px 0 #cacaca;
  box-shadow: 0 0 3px 0 #cacaca;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 31, ../sass/partials/widget/_tabs.scss */
#tabs ul li a.active {
  color: #ea166b;
  -moz-box-shadow: 0 -1px 2px 0 #cacaca;
  -webkit-box-shadow: 0 -1px 2px 0 #cacaca;
  box-shadow: 0 -1px 2px 0 #cacaca;
  margin-left: 1px;
  height: 42px;
}
/* line 37, ../sass/partials/widget/_tabs.scss */
#tabs ul li a.active:hover {
  background-color: white;
  -moz-box-shadow: 0 -1px 2px 0 #cacaca;
  -webkit-box-shadow: 0 -1px 2px 0 #cacaca;
  box-shadow: 0 -1px 2px 0 #cacaca;
}

/* line 1, ../sass/partials/widget/_breadcrumbs.scss */
#breadcrumbs {
  margin-top: 10px;
}
/* line 4, ../sass/partials/widget/_breadcrumbs.scss */
#breadcrumbs span, #breadcrumbs a {
  color: #7b7b7b;
  margin-right: 5px;
  font-size: 11px;
}
/* line 10, ../sass/partials/widget/_breadcrumbs.scss */
#breadcrumbs a {
  border-bottom: 1px solid #d5d5d3;
}
/* line 13, ../sass/partials/widget/_breadcrumbs.scss */
#breadcrumbs a:hover {
  text-decoration: none;
  border-bottom: 1px solid #7b7b7b;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 1, ../sass/partials/widget/_slideshow.scss */
.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 100%;
  height: 200px;
  padding: 0;
}
/* line 6, ../sass/partials/widget/_slideshow.scss */
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal {
  width: 990px;
  margin: 0 auto;
}
/* line 11, ../sass/partials/widget/_slideshow.scss */
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-item {
  width: 160px;
  height: 206px;
  padding-top: 3px;
  border: none;
  margin: 0 47px 0 0;
  background: url("../images/slideshow-bg.png") no-repeat;
}
/* line 21, ../sass/partials/widget/_slideshow.scss */
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next, .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev {
  position: absolute;
  display: block;
  background: url("../images/slideshow-previous.png") no-repeat;
  color: transparent;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  z-index: 10;
  left: 0;
}
/* line 33, ../sass/partials/widget/_slideshow.scss */
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next.jcarousel-prev-disabled, .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev.jcarousel-prev-disabled {
  display: none;
}
/* line 37, ../sass/partials/widget/_slideshow.scss */
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next {
  background-image: url("../images/slideshow-next.png");
  left: auto;
  right: 0;
}
/* line 42, ../sass/partials/widget/_slideshow.scss */
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next.jcarousel-next-disabled {
  display: none;
}

/* line 1, ../sass/partials/widget/_form.scss */
input.triple-checkbox {
  background: url("../images/checkboxes.png") no-repeat;
  width: 12px;
  height: 13px;
  -webkit-appearance: none;
}
/* line 7, ../sass/partials/widget/_form.scss */
input.triple-checkbox.partially-checked {
  background-position: -12px;
}
/* line 11, ../sass/partials/widget/_form.scss */
input.triple-checkbox.checked {
  background-position: -24px;
}

/* line 3, ../sass/partials/layout/_header.scss */
header#header {
  background: url("../images/header-bg.png") repeat-x;
  height: 38px;
  padding-top: 14px;
}
/* line 8, ../sass/partials/layout/_header.scss */
header#header #block-search-form {
  display: none;
}
/* line 12, ../sass/partials/layout/_header.scss */
header#header .region-header {
  float: right;
}
/* line 15, ../sass/partials/layout/_header.scss */
header#header .region-header #block-system-user-menu ul {
  padding: 0;
  margin: 0;
}
/* line 19, ../sass/partials/layout/_header.scss */
header#header .region-header #block-system-user-menu ul li {
  list-style-type: none;
  list-style-image: none;
  display: block;
  float: left;
  font-size: 11px;
}
/* line 30, ../sass/partials/layout/_header.scss */
header#title {
  background: url("../images/title-bg.png") repeat-x;
  height: 68px;
}
/* line 34, ../sass/partials/layout/_header.scss */
header#title * {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}
/* line 38, ../sass/partials/layout/_header.scss */
header#title h1 {
  font-weight: normal;
  float: left;
  margin: 0;
  line-height: 68px;
  color: #464543;
  text-shadow: 0 1px #cadcdc;
  font-size: 40px;
}
/* line 48, ../sass/partials/layout/_header.scss */
header#title .tabs {
  border: none;
  padding: 0;
  margin: 0;
  float: left;
  margin-top: 32px;
  margin-left: 5px;
}
/* line 56, ../sass/partials/layout/_header.scss */
header#title .tabs a {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: #fffcff;
  text-shadow: 0 1px #b4d1cf;
  padding: 0;
  font-size: 13px;
}
/* line 67, ../sass/partials/layout/_header.scss */
header#title .field-name-field-item-status, header#title .field-name-field-season-status, header#title .field-name-field-order-status, header#title .field-name-field-material-type {
  float: right;
  margin-top: 10px;
}
/* line 71, ../sass/partials/layout/_header.scss */
header#title .field-name-field-item-status .field-label, header#title .field-name-field-season-status .field-label, header#title .field-name-field-order-status .field-label, header#title .field-name-field-material-type .field-label {
  color: #c4eeed;
  text-transform: lowercase;
}
/* line 76, ../sass/partials/layout/_header.scss */
header#title .field-name-field-item-status .field-item, header#title .field-name-field-season-status .field-item, header#title .field-name-field-order-status .field-item, header#title .field-name-field-material-type .field-item {
  color: #f6fafb;
  text-transform: uppercase;
  font-size: 20px;
}

/* line 86, ../sass/partials/layout/_header.scss */
.node-type-item #title, .node-type-item-variant #title, .node-type-material #title {
  background: url("../images/title-large-bg.png") repeat-x;
  height: 86px;
}
/* line 90, ../sass/partials/layout/_header.scss */
.node-type-item #title .field-name-field-item-status, .node-type-item-variant #title .field-name-field-item-status, .node-type-material #title .field-name-field-item-status {
  margin-top: 22px;
}
/* line 94, ../sass/partials/layout/_header.scss */
.node-type-item #title .field-name-field-image, .node-type-item #title .field-name-field-images, .node-type-item-variant #title .field-name-field-image, .node-type-item-variant #title .field-name-field-images, .node-type-material #title .field-name-field-image, .node-type-material #title .field-name-field-images {
  margin-top: 7px;
  margin-right: 10px;
  background: url("../images/header-thumbnail-bg.png") repeat-x;
  float: left;
  width: 57px;
  height: 77px;
}
/* line 102, ../sass/partials/layout/_header.scss */
.node-type-item #title .field-name-field-image img, .node-type-item #title .field-name-field-images img, .node-type-item-variant #title .field-name-field-image img, .node-type-item-variant #title .field-name-field-images img, .node-type-material #title .field-name-field-image img, .node-type-material #title .field-name-field-images img {
  margin: 3px auto;
  display: block;
}

/* line 1, ../sass/partials/layout/_page.scss */
#tabs {
  margin-top: 10px;
}

/* line 5, ../sass/partials/layout/_page.scss */
#content {
  border: 1px solid #e4e4e2;
  background-color: white;
  margin-top: 5px;
  padding: 20px;
}
/* line 11, ../sass/partials/layout/_page.scss */
#content h2.pane-title {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 20px;
}

/* line 1, ../sass/partials/layout/_buttons.scss */
#main-button {
  margin-top: 6px;
  float: right;
}
/* line 5, ../sass/partials/layout/_buttons.scss */
#main-button a {
  border: 1px solid #60636a;
  border-radius: 5px;
  padding: 5px 8px;
  color: #f8fffd;
  text-shadow: 0 1px #3e021e;
  font-size: 20px;
  background: #faa8ca;
  /* Old browsers */
  background: -moz-linear-gradient(top, #faa8ca 0%, #f33284 3%, #f0086b 21%, #f00468 24%, #f00267 29%, #f00267 74%, #e80263 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faa8ca), color-stop(3%, #f33284), color-stop(21%, #f0086b), color-stop(24%, #f00468), color-stop(29%, #f00267), color-stop(74%, #f00267), color-stop(100%, #e80263));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #faa8ca 0%, #f33284 3%, #f0086b 21%, #f00468 24%, #f00267 29%, #f00267 74%, #e80263 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #faa8ca 0%, #f33284 3%, #f0086b 21%, #f00468 24%, #f00267 29%, #f00267 74%, #e80263 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #faa8ca 0%, #f33284 3%, #f0086b 21%, #f00468 24%, #f00267 29%, #f00267 74%, #e80263 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #faa8ca 0%, #f33284 3%, #f0086b 21%, #f00468 24%, #f00267 29%, #f00267 74%, #e80263 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa8ca', endColorstr='#e80263',GradientType=0 );
  /* IE6-9 */
}
/* line 23, ../sass/_mixins.scss */
#main-button a:hover {
  text-decoration: none;
}
/* line 43, ../sass/_mixins.scss */
#main-button a:before {
  content: url("../images/white-plus.png");
  margin-right: 8px;
}

/* line 10, ../sass/partials/layout/_buttons.scss */
#add-task.secondary-button a {
  float: right;
  border: 1px solid #60636a;
  border-radius: 5px;
  padding: 5px 8px;
  color: #27282d;
  border-color: #636468;
  background: #acb4b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acb4b4), color-stop(4%, #bdd5d5), color-stop(8%, #a7c7c7), color-stop(27%, #97bdbd), color-stop(35%, #94bbbb), color-stop(77%, #93baba), color-stop(100%, #8fb4b4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb4b4', endColorstr='#8fb4b4',GradientType=0 );
  /* IE6-9 */
}
/* line 23, ../sass/_mixins.scss */
#add-task.secondary-button a:hover {
  text-decoration: none;
}
/* line 63, ../sass/_mixins.scss */
#add-task.secondary-button a:before {
  content: url("../images/gray-plus.png");
  margin-right: 8px;
}

/* line 3, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item {
  margin-bottom: 15px;
  border: 1px solid black;
  border-top: none;
  min-height: 308px;
}
/* line 9, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .col-first {
  height: 100%;
  float: left;
  margin-right: 0.5%;
  width: 49.5%;
}
/* line 16, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .col-last {
  float: right;
  margin-right: 10px;
  width: 49%;
  height: 100%;
}
/* line 23, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item #variants {
  margin-bottom: 10px;
  font-size: 15px;
}
/* line 27, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item #variants th.material {
  width: 57px;
}
/* line 31, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item #variants tbody td {
  padding: 5px;
}
/* line 34, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item #variants tbody td a.material-icon {
  display: block;
  height: 65px;
}
/* line 43, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item #prices tbody {
  border: none;
}
/* line 47, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item #prices th {
  border: none;
  background: white;
  text-transform: lowercase;
  color: #8D8D8D;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
}
/* line 57, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item #prices td {
  border: none;
  background: white;
  color: #F50067;
  font-size: 26px;
  text-transform: uppercase;
}
/* line 68, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal {
  height: 300px;
  width: 49%;
  left: 0.5%;
  position: absolute !important;
  top: 50%;
  margin-top: -138px;
}
/* line 76, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next, .page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev {
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* For IE8 and earlier */
}
/* line 80, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next:hover, .page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
/* line 85, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal {
  width: 500px;
  height: 300px;
}
/* line 89, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel-item {
  margin-right: 10px;
  width: 160px !important;
  height: 300px;
  background: none;
}
/* line 95, ../sass/partials/pages/_line-sheet.scss */
.page-season-line-sheet .line-sheet-item .images .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel-item img {
  border: 4px solid black;
  padding: 0px;
}

/* line 3, ../sass/partials/pages/_material.scss */
.node-type-material .pane-prepopulate-link#task-add {
  position: relative;
}
/* line 6, ../sass/partials/pages/_material.scss */
.node-type-material .pane-prepopulate-link#task-add a {
  position: absolute;
  right: 0;
  top: 15px;
  border: 1px solid #60636a;
  border-radius: 5px;
  padding: 5px 8px;
  color: #27282d;
  border-color: #636468;
  background: #acb4b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acb4b4), color-stop(4%, #bdd5d5), color-stop(8%, #a7c7c7), color-stop(27%, #97bdbd), color-stop(35%, #94bbbb), color-stop(77%, #93baba), color-stop(100%, #8fb4b4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb4b4', endColorstr='#8fb4b4',GradientType=0 );
  /* IE6-9 */
}
/* line 23, ../sass/_mixins.scss */
.node-type-material .pane-prepopulate-link#task-add a:hover {
  text-decoration: none;
}
/* line 63, ../sass/_mixins.scss */
.node-type-material .pane-prepopulate-link#task-add a:before {
  content: url("../images/gray-plus.png");
  margin-right: 8px;
}
/* line 14, ../sass/partials/pages/_material.scss */
.node-type-material .pane-node-content {
  margin-top: 10px;
}
/* line 20, ../sass/partials/pages/_material.scss */
.node-type-material .pane-task-list-material-task-list .view-footer {
  margin-top: 5px;
}
/* line 25, ../sass/partials/pages/_material.scss */
.node-type-material .pane-node-field-source-info {
  position: relative;
  margin-top: 40px;
}
/* line 29, ../sass/partials/pages/_material.scss */
.node-type-material .pane-node-field-source-info table {
  width: 100%;
}
/* line 32, ../sass/partials/pages/_material.scss */
.node-type-material .pane-node-field-source-info table .field_collection_item_operations {
  width: 85px;
}
/* line 36, ../sass/partials/pages/_material.scss */
.node-type-material .pane-node-field-source-info table .field_price {
  width: 150px;
}
/* line 41, ../sass/partials/pages/_material.scss */
.node-type-material .pane-node-field-source-info .action-links li {
  list-style-type: none;
}
/* line 44, ../sass/partials/pages/_material.scss */
.node-type-material .pane-node-field-source-info .action-links li a {
  position: absolute;
  right: 0;
  top: 15px;
  border: 1px solid #60636a;
  border-radius: 5px;
  padding: 5px 8px;
  color: #27282d;
  border-color: #636468;
  background: #acb4b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acb4b4), color-stop(4%, #bdd5d5), color-stop(8%, #a7c7c7), color-stop(27%, #97bdbd), color-stop(35%, #94bbbb), color-stop(77%, #93baba), color-stop(100%, #8fb4b4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb4b4', endColorstr='#8fb4b4',GradientType=0 );
  /* IE6-9 */
}
/* line 23, ../sass/_mixins.scss */
.node-type-material .pane-node-field-source-info .action-links li a:hover {
  text-decoration: none;
}
/* line 63, ../sass/_mixins.scss */
.node-type-material .pane-node-field-source-info .action-links li a:before {
  content: url("../images/gray-plus.png");
  margin-right: 8px;
}
/* line 53, ../sass/partials/pages/_material.scss */
.node-type-material .primary-button#material-add a {
  margin-top: 6px;
}
/* line 111, ../sass/_mixins.scss */
.node-type-material .field-name-field-washing-instructions::after, .node-type-material .field-name-field-fabric-content::after,
.node-type-material .field-name-field-radius::after, .node-type-material .field-name-field-width::after, .node-type-material .field-name-field-length::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 61, ../sass/partials/pages/_material.scss */
.node-type-material .field-name-field-washing-instructions .field-label, .node-type-material .field-name-field-fabric-content .field-label,
.node-type-material .field-name-field-radius .field-label, .node-type-material .field-name-field-width .field-label, .node-type-material .field-name-field-length .field-label {
  float: left;
}
/* line 70, ../sass/partials/pages/_material.scss */
.node-type-material .content .panel-col-last .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--material--material-item-variants li {
  height: 100%;
}

/* line 3, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 20px;
}
/* line 7, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane {
  float: left;
  margin-right: 20px;
}
/* line 11, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .field-label {
  text-transform: lowercase;
  color: #8d8d8d;
  font-weight: normal;
  font-size: 12px;
}
/* line 18, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .field-item {
  text-transform: uppercase;
  font-size: 18px;
}
/* line 23, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .field-name-field-size-info ul {
  margin: 0;
}
/* line 26, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .field-name-field-size-info ul li {
  float: left;
  margin: 0;
  border-right: 2px solid #9d9d9d;
  padding: 0 5px;
}
/* line 32, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .field-name-field-size-info ul li.last {
  border-right: none;
}
/* line 36, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .field-name-field-size-info ul li.first {
  padding-left: 0;
}
/* line 42, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .flag-line-sheet a {
  font-size: 11px;
  display: block;
  background: url("../images/unflagged.png") no-repeat;
  padding-left: 30px;
  height: 26px;
  line-height: 26px;
  color: #515151;
}
/* line 51, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .flag-line-sheet a.unflag-action {
  background-image: url("../images/flagged.png");
}
/* line 56, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .panel-pane .field-type-commerce-price .field-item {
  color: #f50067;
  font-size: 26px;
}
/* line 62, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .pane-main-material {
  background: url("../images/material-thumbnail-bg.png") no-repeat;
  width: 78px;
  height: 86px;
  padding-top: 11px;
  padding-left: 3px;
}
/* line 70, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-summary .pane-custom .separator {
  border-left: 1px dashed #d0d0d0;
  height: 71px;
}
/* line 76, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info, .node-type-item-variant .pane-node-field-bom-info {
  position: relative;
  margin-top: 40px;
}
/* line 80, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info table, .node-type-item-variant .pane-node-field-bom-info table {
  width: 100%;
}
/* line 83, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info table .field_collection_item_operations, .node-type-item-variant .pane-node-field-bom-info table .field_collection_item_operations {
  width: 85px;
}
/* line 87, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info table .field_price, .node-type-item-variant .pane-node-field-bom-info table .field_price {
  width: 150px;
}
/* line 92, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info .action-links li, .node-type-item-variant .pane-node-field-bom-info .action-links li {
  list-style-type: none;
}
/* line 95, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info .action-links li a, .node-type-item-variant .pane-node-field-bom-info .action-links li a {
  position: absolute;
  right: 0;
  top: 15px;
  border: 1px solid #60636a;
  border-radius: 5px;
  padding: 5px 8px;
  color: #27282d;
  border-color: #636468;
  background: #acb4b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acb4b4), color-stop(4%, #bdd5d5), color-stop(8%, #a7c7c7), color-stop(27%, #97bdbd), color-stop(35%, #94bbbb), color-stop(77%, #93baba), color-stop(100%, #8fb4b4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #acb4b4 0%, #bdd5d5 4%, #a7c7c7 8%, #97bdbd 27%, #94bbbb 35%, #93baba 77%, #8fb4b4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb4b4', endColorstr='#8fb4b4',GradientType=0 );
  /* IE6-9 */
}
/* line 23, ../sass/_mixins.scss */
.node-type-item-variant .pane-node-field-bol-info .action-links li a:hover, .node-type-item-variant .pane-node-field-bom-info .action-links li a:hover {
  text-decoration: none;
}
/* line 63, ../sass/_mixins.scss */
.node-type-item-variant .pane-node-field-bol-info .action-links li a:before, .node-type-item-variant .pane-node-field-bom-info .action-links li a:before {
  content: url("../images/gray-plus.png");
  margin-right: 8px;
}
/* line 103, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info .bom-total, .node-type-item-variant .pane-node-field-bom-info .bom-total {
  float: right;
  margin-right: 104px;
  margin-top: 10px;
}
/* line 108, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info .bom-total span, .node-type-item-variant .pane-node-field-bom-info .bom-total span {
  display: block;
  float: left;
  color: #666666;
}
/* line 113, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-bol-info .bom-total span.amount, .node-type-item-variant .pane-node-field-bom-info .bom-total span.amount {
  width: 150px;
  padding: 0 10px;
  color: #ed056b;
}
/* line 123, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-node-field-images {
  margin-top: 65px;
}
/* line 127, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links {
  border-top: 1px solid #d1d1d1;
  margin-top: 65px;
}
/* line 131, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links h2:after {
  content: ":";
}
/* line 135, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links li {
  margin: 0;
}
/* line 138, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links li a {
  display: block;
  float: left;
  margin-right: 80px;
}
/* line 143, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links li a.pattern-history {
  clear: left;
  font-size: 12px;
  margin-left: 34px;
  color: #888888;
}
/* line 151, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links li a.icon {
  color: #537f80;
}
/* line 154, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links li a.icon.pattern:before {
  content: url("../images/pattern-file.png");
  margin-right: 5px;
}
/* line 159, ../sass/partials/pages/_item-variant.scss */
.node-type-item-variant .pane-item-variant-action-links li a.icon.cutter-must:before {
  content: url("../images/cutter-must.png");
  margin-right: 8px;
}

/* line 3, ../sass/partials/pages/_season.scss */
.node-type-season .view-footer {
  margin-top: 5px;
}

/* line 10, ../sass/partials/pages/_season.scss */
.page-season-items .pane-title {
  display: none;
}

/* line 5, ../sass/partials/pages/_delivery.scss */
body.page-production-order-delivery #delivery-inventory tr.missing .form-type-checkbox {
  float: right;
}
/* line 8, ../sass/partials/pages/_delivery.scss */
body.page-production-order-delivery #delivery-inventory tr.missing .form-type-checkbox input {
  margin-right: 0;
}
/* line 13, ../sass/partials/pages/_delivery.scss */
body.page-production-order-delivery #delivery-inventory tr.subrow a.expander {
  float: right;
  margin-right: 0;
}
/* line 18, ../sass/partials/pages/_delivery.scss */
body.page-production-order-delivery #delivery-inventory tr.missing td.size-quantity span {
  border: 2px solid blue;
  width: 40px;
  height: 15px;
  display: block;
}

/* line 4, ../sass/style.scss */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* line 9, ../sass/style.scss */
body {
  margin: 0;
  background-color: #f4f4f2;
  font-family: Dosis, Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
/* line 15, ../sass/style.scss */
body.contextual-links-region {
  position: static;
}

/* line 20, ../sass/style.scss */
a {
  color: #679190;
  text-decoration: none;
}
/* line 24, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 29, ../sass/style.scss */
li {
  list-style-type: none;
}

/* line 33, ../sass/style.scss */
.item-list ul li {
  margin: 0;
}

/* line 41, ../sass/style.scss */
table tbody td {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 49, ../sass/style.scss */
.content .panel-col-first {
  float: left;
  width: 49.5%;
}
/* line 54, ../sass/style.scss */
.content .panel-col-last {
  float: left;
  width: 49.5%;
  margin-left: 1%;
}
/* line 59, ../sass/style.scss */
.content .panel-col-last .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal {
  width: 414px;
}
/* line 62, ../sass/style.scss */
.content .panel-col-last .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li {
  height: 213px;
}

/* line 71, ../sass/style.scss */
html.js .page-season fieldset.collapsible {
  border: none;
  padding: 0;
  margin-bottom: 45px;
}
/* line 78, ../sass/style.scss */
html.js .page-season fieldset.collapsible.collapsed .fieldset-legend {
  background: url("../images/arrow-white-down-status.png") 7px 10px no-repeat #4f4f4f;
}
/* line 83, ../sass/style.scss */
html.js .page-season fieldset.collapsible a {
  font-size: 15px;
}
/* line 86, ../sass/style.scss */
html.js .page-season fieldset.collapsible a.fieldset-title {
  color: white;
}
/* line 91, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-hr {
  border: 0;
  border-bottom: solid #4f4f4f 1px;
  height: 0px;
  margin: 0;
  padding-top: 25px;
  background: url("../images/top-shaddow-collapsible.jpg") repeat-x bottom;
}
/* line 100, ../sass/style.scss */
html.js .page-season fieldset.collapsible legend {
  padding: 0;
}
/* line 103, ../sass/style.scss */
html.js .page-season fieldset.collapsible legend .fieldset-legend {
  font-weight: bold;
  background: url("../images/arrow-white-up-status.png") 7px 10px no-repeat #4f4f4f;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
  position: absolute;
}
/* line 113, ../sass/style.scss */
html.js .page-season fieldset.collapsible .views-table caption {
  display: none;
}
/* line 119, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper tr, html.js .page-season fieldset.collapsible .fieldset-wrapper td {
  padding: 0;
}
/* line 123, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper thead th {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}
/* line 126, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper thead th .active img {
  margin-left: 5px;
}
/* line 133, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper .display-cell .display-cell-image {
  padding: 1px;
  float: left;
}
/* line 137, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper .display-cell .display-cell-image a {
  display: block;
  height: 75px;
}
/* line 143, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper .display-cell .display-cell-title {
  float: left;
  margin-top: 28px;
}
/* line 151, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper .views-field-field-bom-info a {
  display: block;
  height: 75px;
}
/* line 156, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper .views-field-field-bom-info img {
  border-right: 1px solid #B7B7B7;
  padding: 5px;
}
/* line 164, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper td.views-field-field-item-status, html.js .page-season fieldset.collapsible .fieldset-wrapper td.views-field-field-retail-price, html.js .page-season fieldset.collapsible .fieldset-wrapper td.views-field-field-wholesale-price {
  font-weight: bold;
  font-size: 15px;
  color: #010101;
  padding-left: 10px;
}
/* line 171, ../sass/style.scss */
html.js .page-season fieldset.collapsible .fieldset-wrapper td.views-field-field-item-status {
  font-weight: normal;
}
