/* line 3, ../sass/partials/widget/_table.scss */
table tr {
  height: 20px;
}
/* line 7, ../sass/partials/widget/_table.scss */
table tbody tr {
  background-color: #fcfcfc;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#f0f0f0);
  background-image: -moz-linear-gradient(center top, #fcfcfc, #f0f0f0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#f0f0f0));
}
/* line 10, ../sass/partials/widget/_table.scss */
table tbody tr.even {
  background-color: #fbfffe;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fbfffe, endColorstr=#f1f5f4);
  background-image: -moz-linear-gradient(center top, #fbfffe, #f1f5f4);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfffe), to(#f1f5f4));
}
/* line 14, ../sass/partials/widget/_table.scss */
table tbody tr:hover {
  background-color: #f2fbff;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2fbff, endColorstr=#e1ebf4);
  background-image: -moz-linear-gradient(center top, #f2fbff, #e1ebf4);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2fbff), to(#e1ebf4));
}
/* line 19, ../sass/partials/widget/_table.scss */
table thead tr {
  background: url("../images/table-header-bg.png") repeat-x;
}
/* line 23, ../sass/partials/widget/_table.scss */
table th, table td {
  border: 1px solid #b7b7b7;
  padding: 9px;
}
/* line 28, ../sass/partials/widget/_table.scss */
table th {
  color: #5e5e5e;
  font-weight: normal;
}
/* line 33, ../sass/partials/widget/_table.scss */
table .views-field-edit-node a {
  background: url("../images/edit-icon.png");
  width: 28px;
  height: 27px;
  display: block;
  color: transparent;
}
/* line 40, ../sass/partials/widget/_table.scss */
table .views-field-edit-node a:hover {
  background-image: url("../images/edit-icon-active.png");
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 1, ../sass/partials/layout/_header.scss */
#header {
  background: url("../images/header-bg.png") repeat-x;
  height: 38px;
  padding-top: 14px;
}

/* line 7, ../sass/partials/layout/_header.scss */
#title {
  background: url("../images/title-bg.png") repeat-x;
  height: 68px;
}
/* line 11, ../sass/partials/layout/_header.scss */
#title * {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}
/* line 15, ../sass/partials/layout/_header.scss */
#title h2 {
  float: left;
  margin: 0;
  line-height: 68px;
}
/* line 20, ../sass/partials/layout/_header.scss */
#title h2 a {
  font-weight: normal;
  color: #464543;
  text-shadow: 0 1px #cadcdc;
  font-size: 40px;
  text-decoration: none;
}
/* line 29, ../sass/partials/layout/_header.scss */
#title .tabs {
  border: none;
  padding: 0;
  margin: 0;
  float: left;
  margin-top: 32px;
  margin-left: 5px;
}
/* line 37, ../sass/partials/layout/_header.scss */
#title .tabs a {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: #fffcff;
  text-shadow: 0 1px #b4d1cf;
  padding: 0;
  font-size: 13px;
}
/* line 48, ../sass/partials/layout/_header.scss */
#title .field {
  float: right;
  margin-top: 10px;
}
/* line 52, ../sass/partials/layout/_header.scss */
#title .field .field-label {
  color: #c4eeed;
  text-transform: lowercase;
}
/* line 57, ../sass/partials/layout/_header.scss */
#title .field .field-item {
  color: #f6fafb;
  text-transform: uppercase;
  font-size: 20px;
}

/* line 6, ../sass/style.scss */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* line 11, ../sass/style.scss */
body {
  margin: 0;
  background-color: #f4f4f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 17, ../sass/style.scss */
#main-content {
  background-color: white;
}

/* line 21, ../sass/style.scss */
a {
  color: #679190;
  text-decoration: none;
}
/* line 25, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}
