table {
  width: 100%;

  tr {
    height: 20px;
  }

  tbody > tr {
    @include vertical-gradient(#fcfcfc, #f0f0f0);

    &.even {
      @include vertical-gradient(#fbfffe, #f1f5f4);
    }

    &:hover {
      @include vertical-gradient(#f2fbff, #e1ebf4);
    }

    &.hidden {
      display: none;
    }

    &.type td:first-child {
      padding-left: 50px; //LTR
    }

    &.emphasized {
      @include vertical-gradient(#F4F5DC, #F1F5A6);
    }

    &.expandable {
      cursor: pointer;
    }
  }

  thead tr {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #e3e3e3 3%, #dedede 5%, #d4d4d4 78%, #d3d3d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(3%,#e3e3e3), color-stop(5%,#dedede), color-stop(78%,#d4d4d4), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
  }

  th, td {
    border: 1px solid #b7b7b7;
    padding: 9px;

    .minor {
      font-size: 11px;
      color: #666;
      display: block;
    }

    &.hidden-label label {
      display: none;
    }
  }

  th {
    color: #5e5e5e;
    font-weight: normal;
    font-family: Dosis, Arial, Helvetica, sans-serif;
  }

  td {

    &.active {
      background-color: rgba(50, 50, 50, 0.05);
    }

    &.emphasized {
      font-weight: bold;
    }

    &.hidden-label label {
      display: none;
    }

    &.variant-status-title {
      font-size: 15px;
      color: #010101;
    }
  }

  .views-field-edit-node a, li.edit a {
    @include edit-button;
  }

  .field-collection-view-links {
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 0 5px; //LTR
      float: left; //LTR

      &.first {
        margin-left: 0; //LTR
      }

      &.delete a {
        @include delete-button;
      }
    }
  }

  .quantity {
    float: left; //LTR
    margin-right: 5px; //LTR
  }

  &#inventory-summary {
    border: 1px solid #dbdbdb;

    .variant-type-name {
      font-size: 14px;
    }

    .expander {
      background-image: url("../images/collapse-.gif");
      width: 14px;
      height: 14px;

      &.collapsed {
        background-image: url("../images/collapse+.gif");
      }
    }

    &.main-box-width-1 .inventory-cell .sub-figures {

      .sub-figure-placeholder {
        width: 64px;
      }

      .amount {
        width: 18px;
      }
    }

    &.main-box-width-2 .inventory-cell .sub-figures {

      .sub-figure-placeholder {
        width: 66px;
      }

      .amount {
        width: 21px;
      }
    }

    &.main-box-width-3 .inventory-cell .sub-figures {

      .sub-figure-placeholder {
        width: 67px;
      }

      .amount {
        width: 23px;
      }
    }

    &.main-box-width-4 , &.main-box-width-5 {

      .inventory-cell  .sub-figures {

        .sub-figure-placeholder {
          width: 71px;
        }

        .amount {
          width: 28px;
          padding-right: 1px;
        }
      }
    }

    &.size-amount-width-1 .inventory-sub-cell .main-figure .amount {
      width: 30px;
    }

    &.size-amount-width-2 .inventory-sub-cell .main-figure .amount {
      width: 40px;
    }

    &.size-amount-width-3 .inventory-sub-cell .main-figure .amount {
      width: 50px;
    }

    &.size-amount-width-4 .inventory-sub-cell .main-figure .amount {
      width: 55px;
    }

    &.size-amount-width-5 .inventory-sub-cell .main-figure .amount {
      width: 60px;
    }

    .sub-figure-placeholder {
      display: block;
    }
  }


  tr.variant-status-type {

    td {
      padding: 0px 0px 0px 5px;
    }

  .inventory-sub-cell {
    margin-left: -5px;

    .main-figure {
      padding: 9px 0px;
      color: white;
      float: left; //LTR
      text-align: center;

      .amount {
        font-size: 20px;
        display: block;
      }
    }

    .sub-figure {
      color: #6b6b6b;
      max-width: 160px;
      text-align: center;
      padding-top: 10px;

      .ordered {
        font-size: 14px;
      }
    }
  }
    &.current {

      .main-figure {
        background: #70b55c;
      }
    }

    &.future {

      .main-figure {
        background: #d16500;
      }
    }

    &.irrelevant {

      .main-figure {
         background: #737373;
      }
    }
  }

  .inventory-cell {
    position: relative;

    .main-figure {
      float: left; //LTR
      color: #474747;
      text-align: center;
      margin-top: 10px;

      span.amount {
        font-weight: bold;
        font-size: 28px;
      }

      .label {
        color: #848484;
        font-size: 10px;
      }
    }

    .sub-figures {
      float: left; //LTR
      margin-left: 10px; //LTR
      text-align: center;

      .sub-figure {
        margin-right: 5px; //LTR
        margin-top: 2px;
        font-size: 10px;
        float: left; //LTR
        clear: left; //LTR
        border-radius: 4px;
        padding: 1px 0;
        width: 100%;
        height: 14px;
        border: 1px solid #DCDCDC;
        @include greyGradient;

        &:first-child {
          margin-top: 0;
        }

        span {
          padding: 0px 0px 1px 3px;
          min-width: 20px;

          &.amount {
            color: white;
            height: 14px;
            margin-top: -1px;
            display: block;
            float: left; //LTR
            padding-top: 1px;
            font-size: 12px;
            @include border-left-radius(3px);
          }

          &.label {
            color: #565656;
            float: left; //LTR
            font-size: 11px;
          }
        }

        &.future_stock span.amount {
          @include orangeGradient;
        }

        &.ordered span.amount {
          @include blueGradient;
        }

        &.quantity span.amount {
          @include greenGradient;
        }
      }
    }
  }

  .expander {
    display: block;
    width: 11px;
    height: 11px;
    float: left; //LTR
    margin-right: 10px; //LTR
    background: url("../images/contract.gif") no-repeat;

    &.collapsed {
      background-image: url("../images/expand.gif");
    }
  }

  ul.size-info {
    margin: 0;

    li {
      float: left; //LTR
      margin-left: 20px; //LTR

      &:first-child {
        margin-left: 0; //LTR
      }
    }

    label, span {
      float: left; //LTR
    }

    span {
      margin-left: 5px; //LTR
    }
  }
}

html.js fieldset.collapsible {

  .fieldset-legend {
    background: url("../images/contract.gif") no-repeat;
    padding-left: 20px; //LTR
    margin-left: 10px; //LTR
  }

  &.collapsed .fieldset-legend {
    background-image: url("../images/expand.gif");
  }
}

