table {
  width: 100%;

  tr {
    height: 20px;
  }

  tbody > tr {
    @include vertical-gradient(#fcfcfc, #f0f0f0);

    &.even {
      @include vertical-gradient(#fbfffe, #f1f5f4);
    }

    &:hover {
      @include vertical-gradient(#f2fbff, #e1ebf4);
    }

    &.hidden {
      display: none;
    }

    &.type td:first-child {
      padding-left: 50px; //LTR
    }

    &.emphasized {
      @include vertical-gradient(#F4F5DC, #F1F5A6);
    }

    &.expandable {
      cursor: pointer;
    }
  }

  thead tr {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #e3e3e3 3%, #dedede 5%, #d4d4d4 78%, #d3d3d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(3%,#e3e3e3), color-stop(5%,#dedede), color-stop(78%,#d4d4d4), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#e3e3e3 3%,#dedede 5%,#d4d4d4 78%,#d3d3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
  }

  th, td {
    border: 1px solid #b7b7b7;
    padding: 9px;

    .minor {
      font-size: 10px;
      color: #666;
      margin-left: 10px; //LTR
    }
  }

  th {
    color: #5e5e5e;
    font-weight: normal;
  }

  td {

    &.active {
      background-color: rgba(50, 50, 50, 0.05);
    }

    &.emphasized {
      font-weight: bold;
    }
  }

  .views-field-edit-node a, li.edit a {
    @include edit-button;
  }

  .field-collection-view-links {
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 0 5px; //LTR
      float: left; //LTR

      &.first {
        margin-left: 0; //LTR
      }

      &.delete a {
        @include delete-button;
      }
    }
  }

  .quantity {
    float: left; //LTR
    margin-right: 5px; //LTR
  }

  .availability {
    font-size: 12px;
    float: left; //LTR
    border-radius: 4px;
    color: white;
    padding: 1px 0;

    span {
      padding: 1px 6px;
    }

    &.backorder {
      background-color: #fe1511;
      @include box-shadow(0, -1px, 1px, 0, #ff8587);

      span {

        &.amount {
          border-right: 1px solid #d80202; //LTR
        }

        &.label {
          border-left: 1px solid #ff8587; //LTR
        }
      }
    }

    &.available {
      background-color: #099609;
      @include box-shadow(0, -1px, 1px, 0, #ccebcc);

      span {

        &.amount {
          border-right: 1px solid #018305; //LTR
        }

        &.label {
          border-left: 1px solid #86ce84; //LTR
        }
      }
    }
  }

  .expander {
    display: block;
    width: 11px;
    height: 11px;
    float: left; //LTR
    margin-right: 10px; //LTR
    background: url("../images/contract.gif") no-repeat;

    &.colapsed {
      background-image: url("../images/expand.gif");
    }
  }
}
