default:
  context:
    parameters:
      drupal_users:
        user:
          'user'
      sample_nodes:
        imanimo:
          season: 29
          item: 40
          item-variant: 48
          production-order: 68

  extensions:
    Behat\MinkExtension\Extension:
      base_url: [BASE_URL]
    Drupal\DrupalExtension\Extension:
      drush:
        alias: [DRUSH_ALIAS]
