/* Import general LESS declarations from theme */
@import url('../../../../../themes/opengizra_ninesixty/general.css.less');

.content-dashboard-image-gallery-wrapper {
  
  .jcarousel-skin-default {
  
    .jcarousel-clip-horizontal {
      .shadow;
    }
  
    .jcarousel-container-horizontal,
    .jcarousel-clip-horizontal {
      width: 160px; /* 4 images of 40px */
    }
    
    .jcarousel-container-horizontal {
      padding: 0 30px;
      height: 130px;
    }
    
    .jcarousel-item {
      border: none;
      width: 40px;
      height: 120px;
    }
    
    .jcarousel-item-horizontal {
      margin: 0;
    }
    
    .jcarousel-prev-horizontal {
      left: -15px;
    }
    
    .jcarousel-next-horizontal {
      right: -15px;
    }
  
  }

  .mini-gallery-big-thumb-wrapper {
    background-color: @gallery-dark-gray;
    width: 218px;
    height: 315px;
    position: relative;
    .rounded-corners(10px; 10px; 10px; 10px);
    
    div.tape {
      position: absolute;
      top: 20px;
      left: 5px; /* LTR */
      background: url('../images/tape.png') no-repeat scroll 0 0 transparent;
      width: 70px;
      height: 69px;
    }

    div.title {
      color: white;
      padding: 5px 10px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      font-weight:bold;
      font-size: 16px;
    }

    .image-gallery-big-thumb {

      .field-content {
        text-align: center;
        
        img {
          margin-top: 5px;
          background-color: white;
          padding: 5px;
          .rotate;
          .shadow;
        }
      }
      
      .big-thumb-overlay {     
      }      

      .views-field-title {
        position: absolute;
        bottom: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;

        a {
          color: white;
          text-decoration: none;
          text-shadow: 0 0 5px white;
        }
      }
    }
  }

  .image-gallery-small-thumbs {
    height: 120px;
    width: 180px;

    table.views-view-grid {
      margin-top: 0;
    }
    
    .image-gallery-small-thumb-placeholder {
      background-color: @gallery-light-gray;
      height: 120px;
      width: 40px;
    }
    
    .image-gallery-small-thumb-placeholder.last {
      .rounded-corners(0; 0; 1px; 0);
    }

    .small-thumbs-color-overlay {
      position: absolute;
      bottom: 0; /* TODO: Why is it needed? */
      height: 120px;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
